<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite_all" allow-return-values="true" parallel="classes" thread-count="11" verbose="2">
	<test name="AllApiTest" verbose="2">

        <!--<groups>-->
            <!--<run>-->
                <!--<include name="regression"/>-->
            <!--</run>-->
        <!--</groups>-->
        <classes>
            <!-- 验签 -->
            <class name="cloud.sign.oldsign.JieShuno"></class>
            <class name="cloud.sign.oldsign.ZfbIsvo"></class>
            <class name="cloud.sign.oldsign.WxIsvo"></class>
            <class name="cloud.sign.newsign.JieShun"></class>
            <class name="cloud.sign.newsign.ZfbIsv"></class>
            <class name="cloud.sign.newsign.WxIsv"></class>
            <!-- 订单列表查询 -->
            <class name="cloud.order.query.OrderList"></class>
            <!-- 订单反查 -->
            <class name="cloud.order.query.OrderFc"></class>
            <!-- 订单详情查询 -->
            <class name="cloud.order.query.OrderDetails"></class>
            <!-- 订单支付类型查询 -->
            <class name="cloud.order.query.OrderPayType"></class>
            <!-- 订单主表查询 -->
            <class name="cloud.order.query.OrderMainQurey"></class>

        </classes>
    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
    </listeners>
</suite>

